/*
<!--
		// === J.O. ===============================================================================================================================
		// === MODULE - index.html - (VPP Snap2Pay Android Mobile v1.0)
		// ===
		// === AUTHOR - Julius Olatokunbo
		// ===
		// === REASON - Snap2Pay&trade;, Visa's new mobile app, transforms financial transactions into interesting 
        // ===          social experiences. Snap2Pay&trade; is.......Awesome!
		// ===
		// === HISTORY- ===========================================================================================================================
		// === J.O. 10-APR-2014 - v1.0 - Initial flash param loading to establish communication with server, trace output to console
		// === J.O. 11-APR-2014 - v1.0 - Alert panel, Logo and Alert Button modification with all text accessed from Locale file 
		// === J.O. 14-APR-2014 - v1.0 - Param interpretation 
		// === J.O. 15-APR-2014 - v1.0 - Initial flash param loading to establish communication with server, trace output to console
		// === J.O. 16-APR-2014 - v1.0 - Configuring (n) reel slot, implementing with view.spin.reel in (.../spin/reel/index.html)
		// === J.O. 17-APR-2014 - v1.0 - Configuring resolution of symbols to assure (Fit-To-Screen) determined by calculated (ScreenSize)
		// === J.O. 22-APR-2014 - v1.0 - Configuring Audio
		// === J.O. 28-APR-2014 - v1.0 - Configuring Winline Graphics
		// === J.O. 30-APR-2014 - v1.0 - Configuring interchangeable css for scalability
		// === J.O. 01-MAY-2014 - v1.0 - Configuring SLOTS in relation to control assets LINES, BETperLINE, WIN, GAMBLE & PLAY
		// === J.O. 02-MAY-2014 - v1.0 - Configuring Locale messaging for ALL assets, rework CSS, use compile.js
		// === J.O. 06-MAY-2014 - v1.0 - determine browser for CBO, and resize scaling
		// === J.O. 08-MAY-2014 - v1.0 - determine which CSS according to viewport dimension
        // === J.O. 14-MAY-2014 - v1.0 - Ensure AlertPanel.butb opensURL ( _CONST_EOS_MOBILE ) - Ensure we access js/eos_mobile.js, js/eos_slots.js
        // === J.O. 15-MAY-2014 - v1.0 - Ensure we apply CSS for <UL><LI> EOS Slot
        // === J.O. 16-MAY-2014 - v1.0 - Ensure EOS_SLIDER_'s are positioned using %
        // === J.O. 20-MAY-2014 - v1.0 - Implement EOS_help.html
        // === J.O. 22-MAY-2014 - v1.0 - Implement Audio, Animations & _EosSetReelSolution
        // === J.O. 23-MAY-2014 - v1.0 - Modify EOS_help.html
        // === J.O. 03-JUN-2014 - v1.0 - Adjust viewportDimension() to accommodate any specific css given current screen viewport 
        // === J.O. 04-JUN-2014 - v1.0 - Ensure all EOS_Help txt is extracted from LOCALE file.
        // === J.O. 05-JUN-2014 - v1.0 - Configure AUTO Spin functionality
        // === J.O. 09-JUN-2014 - v1.0 - Configure menu bar look & feel
	    // === J.O. ===============================================================================================================================
		-->
*/

/* IMAGES */
/* === J.O. 28-OCT-2014 === */
/* === J.O. =================================================================================================================== */
.home_screen {
    /* background-image: url('../images/bg4.png'); */
    background-image: url(../styles/images/appbuilder.png);
    font-family: DejaVuSans, Arial, Helvetica, sans-serif;
    background-color: rgba(21, 21, 21, 255);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    overflow: hidden;
}
/* === J.O. =================================================================================================================== */
/* === J.O. 28-OCT-2014 === */

.welcome-image {
    background-image: url(../styles/images/appbuilder.png);
    background-repeat: no-repeat;
    width: 320px;
    height: 250px;
    display: block;
    margin: 0px auto;
}

.snap2pay_home_image {
    background-image: url(../styles/images/appbuilder.png);
    background-repeat: no-repeat;
    width: 320px;
    height: 250px;
    display: block;
    margin: 0px auto;
}

/* LOGIN VIEW STYLES */
.login-button {
    margin: 0 auto;
    display: block;
    width: 80%;
}

/* LOCATION VIEW STYLES */
.map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.map-tools {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.85);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.map-tools > div {
    position: relative;
    text-align: center;
    height: 100%;
}

.map-tools .map-tools-button {
    position: absolute;
    top: 0;
    width: 60px;
    height: 100%;
    color: #fff;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    background-position: center center;
    background-repeat: no-repeat;
}
.map-tools .map-tools-button:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
}
.map-tools .map-tools-button.home {
    left: 0;
}
.map-tools .map-tools-button.search {
    right: 0;
}
.map-tools .map-tools-button.home:before { background-image: url(../styles/images/location.png); }
.map-tools .map-tools-button.home:active:before { background-image: url(../styles/images/location_active.png); }
.map-tools .map-tools-button.search:before { background-image: url(../styles/images/search.png); }
.map-tools .map-tools-button.search:active:before { background-image: url(../styles/images/search_active.png); }

.map-tools input[type=search].map-tools-input {
    height: 100%;
    width: 65%;
    margin: 1em 0;
    padding: 0.5em 1em;
}
.km-wp .map-tools input[type=search].map-tools-input {
    width: 50%;
}

/* WEATHER VIEW STYLES */
.w-icon {
    width: 32px;
    height: 32px;
    background-image: url(../styles/images/sprite-weather.png);
    background-repeat: no-repeat;
}
.w-icon.sunny { background-position: 0px 0px; }
.w-icon.cloudy { background-position: 0px -32px; }
.w-icon.partly-cloudy { background-position: 0px -64px; }
.w-icon.partly-sunny { background-position: 0px -96px; }
.w-icon.shower { background-position: 0px -128px; }
.w-icon.foggy { background-position: 0px -160px; }
.w-icon.storm { background-position: 0px -192px; }

.w-item-template:after {
    clear: both;
}
.w-item-template > .w-icon {
    float: left;
}
.w-item-template > .w-date {
    float: left;
    margin: 0.5em 0 0 1em;
}
.w-item-template > .w-temp {
    float: right;
    margin-top: 0.2em;
}
.w-item-template > .w-temp > span:last-of-type {
    opacity: 0.5;
}

/* SPECIFICS */
.km-android input[type=text]:not(.k-input),
.km-android input[type=password]:not(.k-input) {
    padding: 0.25em 1em;
}

/* RETINA DISPLAY STYLES */
@media only screen and (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) {
    .welcome-image {
        background-image: url(../styles/images/appbuilder2x.png);
        background-size: 100%;
    }
    .w-icon {
        background-image: url(../styles/images/sprite-weather2x.png);
        background-size: 100%;
    }
    .map-tools .map-tools-button:before.home {
        background-image: url(../styles/images/location2x.png);
        background-size: 100%;
    }
    .map-tools .map-tools-button:before.home:active {
        background-image: url(../styles/images/location_active2x.png);
        background-size: 100%;
    }
    .map-tools .map-tools-button:before.search {
        background-image: url(../styles/images/search2x.png);
        background-size: 100%;
    }
    .map-tools .map-tools-button:before.search:active {
        background-image: url(../styles/images/search_active2x.png);
        background-size: 100%;
    }
}
